{% extends 'base.html.twig' %}

{% block title %}
  Igris -
  {{ 'Registration'|trans }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('signup') }}
{% endblock %}

{% block body %}
  <div class="container fade-in">
    {% include '/security/local_switcher.html.twig' %}

    <div class="text-center body">
      <img class="mb-1"
        src="{{ asset('images/logos/logo.svg') }}"
        alt=""
        width="120"
        height="120" />
      {{
        form_start(
          form,
          {
            attr: {
              class: 'form-signup'
            }
          }
        )
      }}
      <h1 class="h2 mb-3 font-weight-normal">
        {{ 'Registration'|trans }}
      </h1>

      <div class="form-group">
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_widget(form.avatar) }}
        {{ form_errors(form.avatar) }}
      </div>

      <div class="form-group">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
      </div>

      <div class="form-group d-inline-flex">
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname) }}

        {{ form_widget(form.lastname) }}
        {{ form_errors(form.lastname) }}
      </div>

      <div class="form-group">
        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}

        {{ form_widget(form.password_confirm) }}
        {{ form_errors(form.password_confirm) }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block">
          {{ 'Sign Up'|trans }}
        </button>
        <a href="{{ path('security_login') }}">{{ 'Login'|trans }}</a>
      </div>

      <p class="mt-5 mb-3 text-muted">
        IGRIS © 2019-{{ "now"|date("Y") }}
      </p>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('form') }}
{% endblock %}
