{% extends 'base.html.twig' %}

{% block body %}
  <h1>
    Inscription
  </h1>

  {{ form_start(form) }}
  {{
    form_row(
      form.username,
      {
        label: "Nom d'utilisateur",
        attr: {
          placeholder: 'ex: Sym'
        }
      }
    )
  }}
  {{
    form_row(
      form.email,
      {
        label: 'Adresse Email',
        attr: {
          placeholder: 'ex: XXXX@symblog.com'
        }
      }
    )
  }}
  {{
    form_row(
      form.firstname,
      {
        label: 'Prénom',
        attr: {
          placeholder: 'ex: Albert'
        }
      }
    )
  }}
  {{
    form_row(
      form.lastname,
      {
        label: 'Nom',
        attr: {
          placeholder: 'ex: Einstein'
        }
      }
    )
  }}
  {{
    form_row(
      form.password,
      {
        label: 'Mot de passe',
        attr: {
          placeholder: 'ex: *********'
        }
      }
    )
  }}
  {{
    form_row(
      form.password_confirm,
      {
        label: 'Confirmation mot de passe',
        attr: {
          placeholder: 'ex: *********'
        }
      }
    )
  }}
  <button type="submit" class="btn btn-success">
    S'inscrire
  </button>
  {{ form_end(form) }}
{% endblock %}
