{% extends 'administration/index.html.twig' %}

{% form_theme formManga 'bootstrap_4_layout.html.twig' %}

{% block container %}
  {{ parent() }}
  <h1 class="mt-4">
    {% if editMode %}
      Modification du manga
    {% else %}
      Ajouter un manga
    {% endif %}
  </h1>

  {{ form_start(formManga) }}
  {{ form_row(formManga.manga_id) }}
  {{ form_widget(formManga._token) }}

  <button type="submit" class="btn btn-primary">
    {% if editMode %}
      Modifier le manga
    {% else %}
      Ajouter le manga
    {% endif %}
  </button>

  {{
    form_end(
      formManga,
      {
        render_rest: false
      }
    )
  }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $('.custom-file-input').on('change', function(event) { var inputFile =
    event.currentTarget; $(inputFile).parent() .find('.custom-file-label')
    .html(inputFile.files[0].name); });
  </script>
{% endblock %}
