{% extends 'page.html.twig' %}

{% block container %}
  {% include 'manga/navigation.html.twig' %}
  
  <div class="row">
    {% for chapter in chapters %}
      <div class="col-12 col-lg-6 col-xl-3 pb-2 parent">
        <a class="link-chapter wrapper"
          href="{{ mangadex_url ~ '/chapter/' ~ chapter.chapter_id }}"
          target="_blank">
          <div class="titre-manga {{
            chapter.date< ('now'|date_modify('-2 days')|date('Y-m-d H:i:s'))
              ? ''
              : 'new'
            }}">
            {{ chapter.name }}
            <img class="langue-manga"
              src="{{
              asset(
                'images/flags/' ~ chapter.libelle ~ '.png'
              )
              }}" />
          </div>
          <div class="corps-manga">
            <img class="image-manga"
              src="{{
              chapter.image
                ? asset('uploads/mangas/' ~ chapter.image)
                : 'https://via.placeholder.com/1500'
              }}" />
            <div class="caption-manga {{
              chapter.date < ('now'|date_modify('-2 days')|date('Y-m-d H:i:s'))
                ? ''
                : 'new'
              }}">
              <b>{{ 'Chapter'|trans }} n° {{ chapter.number }}</b>
              <br />
              <i>{{ chapter.date|format_date('medium', locale = app.request.getLocale()) }}</i>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {{ knp_pagination_render(chapters) }}

{% endblock %}
