<ul class="sub-nav nav nav-pills justify-content-end mb-4">
  <li class="nav-item">
  {#
  <a class="nav-link {{ app.request.get('_route') == 'manga_index' ? 'active' }}"
      href="{{ path('manga_index') }}">
      {{ 'Manga'|trans }}
    </a>
  </li>
   #}
  <li class="nav-item">
    <a class="nav-link {{
      app.request.get('_route') == 'manga_language'
        and app.request.get('language') == 'fr'
        ? 'active'
      }}"
      href="{{
      path(
        'manga_language',
        {
          language: 'fr'
        }
      )
      }}">
      {{ 'French'|trans }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{
      app.request.get('_route') == 'manga_language'
        and app.request.get('language') == 'en'
        ? 'active'
      }}"
      href="{{
      path(
        'manga_language',
        {
          language: 'en'
        }
      )
      }}">
      {{ 'English'|trans }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{
      app.request.get('_route') == 'manga_list'
        ? 'active'
      }}"
      href="{{ path('manga_list') }}">
      {{ 'List'|trans }}
    </a>
  </li>
</ul>
