{% extends 'base.html.twig' %}

{% block title %}
  Hello RoadMapController!
{% endblock %}

{% block nav %}
  {{ parent() }}
  <div class="timeline mb-3 fade-in one"></div>
{% endblock %}
{% block body %}
  <div class="container-fluid">
    {% for tache in taches %}
      <div class="card text-white bg-{{ tache.etat.codeBootsrap }} mb-3 tache">
        <div class="card-header">
          <h5 class="card-title roadmap-title">
            {{ tache.nom }}
          </h5>
          <small>{{ tache.date|date('d/m/Y') }}</small>

          {% if app.user %}
            <div class="actions_roadmap">
              {% if tache.etat.nom== 'waiting' %}
                <a href="{{
                  path(
                    'road_map_start',
                    {
                      id: tache.id
                    }
                  )
                  }}"
                  class="btn btn-primary"
                  title="Démarrer">
                  <i class="fas fa-clock"></i>
                </a>
              {% elseif tache.etat.nom == 'in_progress' %}
                <a href="{{
                  path(
                    'road_map_complete',
                    {
                      id: tache.id
                    }
                  )
                  }}"
                  class="btn btn-success"
                  title="Compléter">
                  <i class="fas fa-check"></i>
                </a>
              {% endif %}
              {% if tache.etat.nom != 'completed' %}
                <a href="{{
                  path(
                    'road_map_edit',
                    {
                      id: tache.id
                    }
                  )
                  }}"
                  class="btn btn-info"
                  title="Éditer">
                  <i class="fas fa-pen"></i>
                </a>
                <a href="{{
                  path(
                    'road_map_delete',
                    {
                      id: tache.id
                    }
                  )
                  }}"
                  class="btn btn-danger"
                  title="Supprimer">
                  <i class="fas fa-times"></i>
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ tache.contenu|raw }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
