{% extends 'page.html.twig' %}

{% form_theme formSerie 'bootstrap_4_layout.html.twig' %}

{% block container %}
  <h1>
    {% if editMode %}
      Modification de la série
    {% else %}
      Ajout d'une série
    {% endif %}
  </h1>

  {{ form_start(formSerie) }}
  {{ form_row(formSerie.nom) }}
  {{ form_row(formSerie.image) }}
  {{ form_row(formSerie.synopsis) }}
  {{ form_row(formSerie.lien) }}
  {{ form_row(formSerie.nombreEpisodes) }}
  {{ form_row(formSerie.dureeEpisode) }}
  {{ form_widget(formSerie._token) }}

  <button type="submit" class="btn btn-success">
    {% if editMode %}
      Modifier la série
    {% else %}
      Ajouter la série
    {% endif %}
  </button>

  {{ form_end(formSerie) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $('.custom-file-input').on('change', function(event) { var inputFile =
    event.currentTarget; $(inputFile).parent() .find('.custom-file-label')
    .html(inputFile.files[0].name); });
  </script>
{% endblock %}
