{% extends 'administration/index.html.twig' %}

{% form_theme formSerie 'bootstrap_4_layout.html.twig' %}

{% block body %}
  <div class="container fade-in">
    {{ parent() }}
    <h1 class="mt-4">
      {% if editMode %}
        {{ 'Modify'|trans }}
      {% else %}
        {{ 'Add'|trans }}
      {% endif %}
    </h1>

    {{ form_start(formSerie) }}
    {{ form_row(formSerie.nom) }}
    {{ form_row(formSerie.image) }}
    {{ form_row(formSerie.synopsis) }}
    {{ form_row(formSerie.lien) }}
    {{ form_row(formSerie.nombreEpisodes) }}
    {{ form_row(formSerie.dureeEpisode) }}
    {{ form_widget(formSerie._token) }}

    <button type="submit" class="btn btn-primary">
      {{ 'Submit'|trans }}
    </button>

    {{ form_end(formSerie) }}
  </div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('form') }}
{% endblock %}
