<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ asset('light_favicon.ico') }}" media="(prefers-color-scheme:no-preference)">
    <link rel="icon" href="{{ asset('dark_favicon.ico') }}"  media="(prefers-color-scheme:dark)">
    <link rel="icon" href="{{ asset('light_favicon.ico') }}" media="(prefers-color-scheme:light)">
    <title>
      {% block title %}
        Igris
      {% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="/css/locale.css" />
      <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous" />
      <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
        integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M"
        crossorigin="anonymous" />
    {% endblock %}
  </head>

  {% block body %}
    <body>
      {% block nav %}

      {% endblock %}
      <div class="container fade-in body">
        {% block container %}

        {% endblock %}
      </div>

      <div class="locale_selector">
        {% for locale in locales %}
          {% if locale != app.request.getLocale() %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ _locale: locale })) }}">
              <img src="{{
                asset(
                  'images/flags/' ~ locale ~ '.png'
                )
              }}" />
            </a>
          {% endif %}
        {% endfor %}
      </div>
      {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

        <script>
        $(document).ready(function() {
          if (!window.matchMedia)
              return;

          var current = $('head > link[rel="icon"][media]');
          $.each(current, function(i, icon) {
              var match = window.matchMedia(icon.media);
              function swap() {
                  if (match.matches) {
                      current.remove();
                      current = $(icon).appendTo('head');
                  }
              }
              match.addListener(swap);
              swap();
          });
        });
        </script>
      {% endblock %}
    </body>
  {% endblock %}
</html>
