{% extends 'base.html.twig' %}

{% form_theme formDocument 'bootstrap_4_layout.html.twig' %}

{% block body %}
  <h1>
    {% if editMode %}
      Modification du document
    {% else %}
      Création d'un document
    {% endif %}
  </h1>

    {{ form_start(formDocument) }}

    {{ form_row(formDocument.titre, {
        'attr': {
            'placeholder': "Titre du document"
        }
    }) }}

    {{ form_row(formDocument.categorie) }}

    {{ form_row(formDocument.description|raw) }} 

    <button type="submit" class="btn btn-success">
    {% if editMode %}
      Modifier le document
    {% else %}
      Créer le document
    {% endif %}
    </button>

  {{ form_end(formDocument) }}
{% endblock %}
