{% extends 'base.html.twig' %}

{% block title %}
  WIP
{% endblock %}

{% block body %}
  <div class="container-fluid">
  {% if documents|length == 0  %}
    <i>Vous n'avez aucun document !</i>
  {% else %}

    {% for document in documents %}
      <section class="document card border-primary mb-3">
        <div class="card-header">
          <h4 class="card-title">
            {{ document.titre }}
          </h4>
          <div class="metadata">
            Ecrit le {{ document.createdAt|date('d/m/Y') }} à {{
              document.createdAt|date('H:i')
            }} par {{ document.auteur.firstname }} {{ document.auteur.lastname }}
          </div>
          <div class="category_doc">
            Rapport de stage
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ document.description|raw }}
          </p>
          <a href="{{
            path(
              'document_show',
              {
                id: document.id
              }
            )
            }}"
            class="btn btn-primary">
            Afficher
          </a>
        </div>
      </section>
    {% endfor %}
    <div class="pagination justify-content-center">
      {{ knp_pagination_render(documents) }}
    </div>
  </div>

    {% endif %}
{% endblock %}
