{% extends 'base.html.twig' %}

{% block body %}
  <document>
    <h2>
      {{ document.titre }}
    </h2>
    <div class="metadata">
      Ecrit le {{ document.createdAt|date('d/m/Y') }} à {{
        document.createdAt|date('H:i')
      }} par {{ document.auteur.firstname }} {{ document.auteur.lastname }}
    </div>
    <div class="content">
      {{ document.description|raw }}
      {% for partie in document.parties|sort((a, b) => a.numero <=> b.numero) %}
        {% if partie.partieParent is null %}
          <h3>
            {{ partie.nom }}
          </h3>
          <article>
            {{ partie.contenu }}
          </article>
          {% if partie.parties|length > 0  %}
            {{ _self.parties_document(partie.parties, 3) }}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </document>

{% endblock %}

{% macro parties_document(subparties, val_h) %}
  {% for subpartie in subparties|sort((a, b) => a.numero <=> b.numero) %}
    {% if subpartie.parties|length == 0  %}
      <h{{ val_h }}>
        {{ subpartie.nom }}
      </h3 {{ val_h }}>
      <article>
        {{ subpartie.contenu }}
      </article>
    {% else %}
          <h{{ val_h }}>
        {{ subpartie.nom }}
      </h3 {{ val_h }}>
      <article>
        {{ subpartie.contenu }}
      </article>
      {% set val_h = val_h + 1 %}
      {{ _self.parties_document(subpartie.parties,  val_h ) }}
    {% endif %}
  {% endfor %}
{% endmacro %}




