<div class="bg-dark border-right" id="sidebar-wrapper">
  <div class="sidebar-heading text-light">
    <a class="navbar-brand" href="{{ path('home_page') }}">
      <img src="{{ asset('images/logos/logo_light.svg') }}" width="30" height="30" class="d-inline-block align-top" alt=""/>
      Igris - Admin
    </a>
  </div>
  <div class="list-group list-group-flush">
    <a href="{{ path('admin_user') }}" class="list-group-item list-group-item-action bg-dark text-light">
      {{ 'Users'|trans }}
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark text-light" data-toggle="collapse" data-target="#mangas">
      {{ 'Mangas'|trans }}<i class="fas fa-chevron-down"></i>
    </a>
    <div class="sub-menu collapse" id="mangas">
      <a href="{{ path('admin_manga_new') }}" class="list-group-item list-group-item-action bg-dark text-light">
        {{ 'Add'|trans }}
      </a>
      <a href="{{ path('admin_manga_refresh') }}" class="list-group-item list-group-item-action bg-dark text-light">
        {{ 'Refresh'|trans }}
      </a>
    </div>
    <a href="#" class="list-group-item list-group-item-action bg-dark text-light" data-toggle="collapse" data-target="#series">
      {{ 'Serie'|trans }}<i class="fas fa-chevron-down"></i>
    </a>
    <div class="sub-menu collapse" id="series">
      <a href="{{ path('admin_serie_new') }}" class="list-group-item list-group-item-action bg-dark text-light">
        {{ 'Add'|trans }}
      </a>
    </div>

  </div>
</div>
