{% extends 'page.html.twig' %}

{% block body %}
  <div class="container fade-in js-filter">
    <div class="depense_actions">
      <a href="{{ path( 'depense_categorie_new') }}" class="depense_actions__buttons btn btn-dark" title="{{ 'Add'|trans }}" data-toggle="tooltip">
        <i class="material-icons">add</i>{{ 'Category'|trans }}
      </a>

      <a href="{{ path( 'depense_new') }}" class="depense_actions__buttons btn btn-danger" title="{{ 'Add'|trans }}" data-toggle="tooltip">
        <i class="material-icons">add</i>{{ 'Expenditure'|trans }}
      </a>

      <a href="{{ path( 'depense_recurrente_new') }}" class="depense_actions__buttons btn btn-info" title="{{ 'Add'|trans }}" data-toggle="tooltip">
        <i class="material-icons">add</i>{{ 'Recurring expense'|trans }}
      </a>
    </div>

    <div>
        {{ form_start(formDepense, {attr: {class: 'filter js-filter-form filter-depense'}}) }}

        {{ form_row(formDepense.categories) }}
        {{ form_row(formDepense.date) }}

        {{ form_end(formDepense) }}
    </div>

    <div class="js-filter-content">
      {% include 'depense/_depenses.html.twig' with {depenses: depenses, soldeIntial: soldeIntial, depenseMonth: depenseMonth, soldeFinal: soldeFinal, depensesRecurrentes: depensesRecurrentes, dateSearch: dateSearch} only %}
    </div>

    <div>
      {{ 'Average budget'|trans }} <sub>/{{ 'grocery'|trans }}</sub> : {{ depenseCourseAvg|format_currency('EUR') }}
      </br>
      {{ 'Average budget'|trans }} ({{ 'grocery'|trans }}) <sub>/{{ 'month'|trans }}</sub> : {{ depenseCourseAvgMonth|format_currency('EUR') }}
    </div>

    <div class="mini-loader mini-loader__dark" unique="true"></div>

  </div>
{% endblock %}

{% block javascripts %}

  {{ encore_entry_script_tags('form') }}
  {{ encore_entry_script_tags('depense') }}

{% endblock %}
